.personalpassword-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.personalpassword-modal-content {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  max-width: 90%;
  max-height: 100%;
  overflow-y: auto;
  z-index: 1060;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.523);
}

.accountname-label {
  margin-right: 12px;
}

.username-label,
.password-label {
  margin-right: 49px;
  margin-top: 15px;
}

.accountname-input,
.username-input,
.password-input {
  box-shadow: 2px 2px 2px rgba(93, 91, 91, 0.155);
  border-radius: 10px;
}

.add-password-button,
.add-password-close-button {
  margin-right: 2em;
  background-color: #46cafa;
  border: 3px solid #bc72f8;
}

.add-password-button:hover {
  background-color: #3091b4;
}

.add-password-close-button:hover {
  background-color: #3091b4;
}
