/* Modal Background (Overlay) */
.event-modal {
  position: fixed; /* Fixed positioning ensures it stays on top */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center; /* Center the modal horizontally */
  align-items: center; /* Center the modal vertically */
  z-index: 1050; /* Ensure it's in front of the calendar */
}

/* Modal Content */
.event-modal-content {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-width: 90%;
  max-height: 80%;
  overflow-y: auto; /* Allow scrolling if content overflows */
  z-index: 1060; /* Higher z-index for modal content */
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.523);
}

.description-label {
  display: inline;
  justify-content: flex-start;
  font-family: "Courier New";
}

/* Close Button */
button {
  margin-right: 1em;
  margin-bottom: 2em;
  margin-left: 5px;
  background-color: rgb(148, 148, 248);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 15px;
}

button:hover {
  background-color: #0056b3;
}

.event-modal-header {
  display: flex;
  justify-content: center;
  margin-left: 50px;
}

.edit-button {
  display: inline;
  padding: 8px 16px;
  background-color: #d4a5fb;
  margin-top: 0;
  margin-bottom: 1px;
  margin-left: 10px;
  color: white;
  border: none;
  border-radius: 70px;
  cursor: pointer;
  font-size: 0.7em;
}

.start-time,
.end-time {
  font-family: "Courier New";
}

.delete-button {
  margin-right: 1em;
}

#event-name-input,
#description-input,
#start-time-input,
#end-time-input {
  box-shadow: 2px 2px 2px rgba(93, 91, 91, 0.155);
  border-radius: 10px;
}

.event-name-label {
  font-family: "Courier New";
  display: inline-block;
}

#description-input {
  width: 60%;
}
