/* Modal Background (Overlay) */
.personalpassword-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center; /* Center the modal horizontally */
  align-items: center; /* Center the modal vertically */
  z-index: 1050; /* Ensure it's in front of the calendar */
}

/* Modal Content */
.personalpassword-modal-content {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  max-width: 90%;
  max-height: 100%;
  overflow-y: auto; /* Allow scrolling if content overflows */
  z-index: 1060; /* Higher z-index for modal content */
  font-family: "Courier New", Courier, monospace;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.523);
}

.personalpassword-modal-header {
  display: flex;
  justify-content: center;
  margin-left: 50px;
}

.accountName {
  display: inline;
}

.editAccountButton {
  display: inline;
  padding: 6px;
  background-color: #d4a5fb;
  margin-top: 0;
  margin-bottom: 1px;
  margin-left: 10px;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.7em;
}

.editAccountButton:hover {
  background-color: #bc72f8;
}

.deleteButton,
.closeDeleteButton {
  margin-right: 1em;
  background-color: #46cafa;
  border: 3px solid #bc72f8;
}

.deleteButton:hover {
  background-color: #3091b4;
}

.closeDeleteButton:hover {
  background-color: #3091b4;
}

.usernameLabel {
  display: inline;
  justify-content: flex-start;
}

.usernameInput {
  display: inline;
  justify-content: center;
}

.modal-footer {
  display: flex;
  text-align: center;
  justify-content: center;
}

.save-button,
.cancel-button {
  background-color: #46cafa;
  border: 3px solid #bc72f8;
}

.save-button {
  margin-right: 10px;
}

.delete-personal-password-confirmation-question {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 3px solid gray;
}

.delete-personal-password-button {
  margin-right: 1.5em;
}

.confirmation-content {
  margin-top: 3em;
  border-top: 3px solid gray;
  padding-top: 1em;
}

.personal-password-name {
  display: flex;
  justify-content: start;
  margin-left: -20%;
}

#personal-password-name-input {
  box-shadow: 2px 2px 2px rgba(93, 91, 91, 0.155);
  border-radius: 10px;
  margin-left: 5px;
}

.personal-username-label {
  margin-right: 1em;
}

#personal-password-name-input {
  width: 70%;
  box-shadow: 2px 2px 2px rgba(93, 91, 91, 0.155);
}

.personal-password-label {
  display: inline-block;
}

.personal-username-label {
  margin-right: 0;
}

#personal-password-password-input {
  width: 70%;
  box-shadow: 2px 2px 2px rgba(93, 91, 91, 0.155);
  border-radius: 10px;
  margin-left: 0.5em;
}

#personal-password-username-input {
  width: 75%;
  box-shadow: 2px 2px 2px rgba(93, 91, 91, 0.155);
  border-radius: 10px;
  margin-left: 5em;
  margin-right: 0.5em;
}
