.school-password-details {
  border: 2px solid black;
  border-radius: 10px;
  margin: 4em;
  text-align: center;
  height: 20em;
  width: 20em;
  display: inline-block;
}

.school-password-userId,
.school-password-username,
.school-password-listedpassword {
  padding-bottom: 0;
  line-height: 1em;
}

.school-password-note {
  display: inline-block;
}
