/* Modal Background */
.schoolpassword-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

/* Modal Content */
.schoolpassword-modal-content {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  max-width: 90%;
  max-height: 100%;
  overflow-y: auto;
  z-index: 1060;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.523);
}

.schoolpassword-modal-header {
  display: flex;
  justify-content: center;
  margin-left: 50px;
}

.accountName {
  display: inline;
}

.editAccountButton {
  display: inline;
  padding: 6px;
  background-color: #d4a5fb;
  margin-top: 0;
  margin-bottom: 1px;
  margin-left: 10px;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.7em;
}

.editAccountButton:hover {
  background-color: #bc72f8;
}

.deleteButton,
.closeDeleteButton {
  margin-right: 1em;
  background-color: #46cafa;
  border: 3px solid #bc72f8;
}

.deleteButton:hover {
  background-color: #3091b4;
}

.closeDeleteButton:hover {
  background-color: #3091b4;
}

.usernameLabel {
  display: inline;
  justify-content: flex-start;
}

.usernameInput {
  display: inline;
  justify-content: center;
}

.modal-footer {
  display: flex;
  text-align: center;
  justify-content: center;
}

.save-button,
.cancel-button {
  background-color: #46cafa;
  border: 3px solid #bc72f8;
}

.save-button {
  margin-right: 10px;
}
